*.zip
*.docx
*.png
*.jpg
*.jpeg

Assignment_3/.phpunit.cache
Assignment_3/node_modules
Assignment_3/public/build
Assignment_3/public/hot
Assignment_3/public/storage
Assignment_3/storage/*.key
Assignment_3/storage/pail
Assignment_3/vendor
Assignment_3/.env
Assignment_3/.env.backup
Assignment_3/.env.production
Assignment_3/.phpactor.json
Assignment_3/.phpunit.result.cache
Assignment_3/Homestead.json
Assignment_3/Homestead.yaml
Assignment_3/auth.json
Assignment_3/npm-debug.log
Assignment_3/arn-error.log
Assignment_3/.fleet
Assignment_3/.idea
Assignment_3/.nova
Assignment_3/.vscode
Assignment_3/.zed